{% extends "layout.twig" %}

{% block main %}
    <div>

      <h3>Grundlagen</h3>

      <ul>OOP = Objekt Orientierte Programmierung:
        <ul>
          <li>Verkapselung:
             ist in Klassen verkapselt.</li>
          <li>Polimorphy:
            ist die vielgestalltung</li>
          <li>Vererbung:
            ist die erbung (wiederverwendung) von den Daten einer Klasse zu einer anderen Klasse</li>
        </ul>
      </ul>

    </div>
{% endblock %}
