{% extends "layout.twig" %}

{% block title %}SMART{% endblock %}

{% block %}
    <div class="bod">

      <h3>SMART</h3>

      <table>
        <tr>
          <td class="SMART1">S</td><td class="SMART0">Specific</td><td>Spezifisch</td><td class="SMART">Ziele müssen eindeutig definiert sein (nicht vage, sondern so präise wie möglich)</td>
        </tr>
        <tr>
          <td class="SMART1">M</td><td class="SMART0">Measurable</td><td>Messbar</td><td class="SMART">Ziele müssen messbar sein (Messbarkeitskriterien)</td>
        </tr>
        <tr>
          <td class="SMART1">A</td><td class="SMART0">Archivable</td><td>Erreichbar</td><td class="SMART">Die Ziele müssen für die Person ansprechend bzw. erstrebenswert sein, zum Teil auch englisch attainable („erreichbar“) oder accepted („akzeptiert“) dann steht das „R“ für „relevant“, ursprünglich assignable, also – einem bestimmten Verantwortlichen – zuweisbar.</td>
        </tr>
        <tr>
          <td class="SMART1">R</td><td class="SMART0">Reasonable</td><td>Angemessen</td><td class="SMART">Das gesteckte Ziel muss möglich und realisierbar sein.</td>
        </tr>
        <tr>
          <td class="SMART1">T</td><td class="SMART0">Time-bound</td><td>Terminiert</td><td class="SMART">Das Ziel muss mit einem fixen Datum festgeleft werden können.</td>
        </tr>
      </table>

    </div>
{% endblock %}
