{% extends "layout.twig" %}

{% block main %}
    <div>

      <h1>Inhalt</h1>

      <caption>10. Klasse:</caption>
        <ul>
          <li>AP</li>
          <li>ITS</li>
            <ul>
              <li> <a href="/LAN">LAN</a> </li>
              <li> <a href="/IPv4">IPv4</a> </li>
            </ul>
          <li>ITT 1</li>
            <ul>
              <li> <a href="/ITT1-Kaufvertrag">Kaufvertrag</a> </li>
            </ul>
          <li>ITT 2</li>
          <li>BGP</li>
          <li>PuG</li>
        </ul>

      <caption>11. Klasse:</caption>
        <ul>
          <li>AP</li>
          <li>ITS</li>
          <li>ITT</li>
          <li>ITS</li>
          <li>BGP</li>
          <li>PuG</li>
        </ul>

        <caption>12. Klasse:</caption>
    </div>
{% endblock %}
