{% extends "layout.twig" %}

{% block main %}
    <div>

      <h1>Inhalt</h1>

      <caption>10. Klasse:</caption>
        <ul>
          <li><a>Stundenplan</a><li>
        </ul>

      <caption>11. Klasse:</caption>
        <ul>
          <li>AP</li>
          <li>ITS</li>
          <li>ITT</li>
          <li>ITS</li>
          <li>BGP</li>
          <li>PuG</li>
        </ul>

        <caption>12. Klasse:</caption>
    </div>
{% endblock %}
