{% extends "layout.twig" %}

{% block main %}
    <div>

      <h1>Inhalt</h1>

        <nav>
          <ul>
            <li><a href="" >Stundenplan</a></li>
            <li><a href="" ></a></li>
          </ul>
        </nav>

        
    </div>
{% endblock %}
