{% extends "layout.twig" %}

{% block title %}Homepage{% endblock %}
{% block header %}Stoff MG24a{% endblock %}

{% block main %}
    <main>

      <h1>Inhalt</h1>

        <nav>
          <ul>
            <li><a href="auswendig.twig" >Auswendig</a></li>s
          </ul>
        </nav>


    </main>
{% endblock %}
