{% extends "layout.twig" %}

{% block title %}Homepage{% endblock %}
{% block header %}Stoff MG24a{% endblock %}

{% block main %}
    <main>

      <div>
        <h2>News</h2>
        <p>Hier siehst du die neusten dinge, ggf Berichtshefte und anderes.</p>
      </div>

      <ul>
        <li> <a href="/blog/stundenplan.twig"></a> </li>
      </ul>

    </main>
{% endblock %}
