{% extends "layout.twig" %}

{% block main %}
    <div>
      <h1>IPv4:</h1>

      <ul>
        <li> <a href="/IPv4-geschichte">Geschichte</a> </li>
        <li> <a href="/IPv4-funktion">Funktion</a> </li>
        <li> <a href="/IPv4-klassen">Klassen</a> </li>
      </ul>
    </div>
{% endblock %}
