{% extends "layout.twig" %}

{% block main %}
    <div>
      <table>
        <tr>
         <td>1983</td>
         <td>Pv4 wurde als Teil der Internetprotokollfamilie für das Arpanet entwickelt.</td>
        </tr>
        <tr>
          <td></td>
          <td>Damals waren nur einige hundert Rechner an das Netz angeschlossen.</td>
        </tr>
        <tr>
          <td>1989</td>
          <td>Das Arpanet entwickelte sich zum Internet und überschritt die Grenze von 100.000 Rechnern.</td>
        </tr>
        <tr>
          <td>Anfang 1990er</td>
          <td>IP-Adressen bald knapp würden, da die damals übliche Netzklassen-basierte Adressvergabe erheblichen Verschnitt verursachte.</td>
        </tr>
        <tr>
          <td>1993</td>
          <td>Kam eine kurzfristiger Lösung names Classless Internet-Domain Routing eingeführt, das eine deutlich effizientere Adressvergabe ermöglichte.</td>
        </tr>
        <tr>
          <td>1994</td>
          <td>Kam eine weitere kurzfristig Lösung Network Address Translation (NAT), das die Wiederverwendung von IP-Adressen ermöglichte.</td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
{% endblock %}
