<!DOCTYPE html>
<html lang="de-DE">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/template.css">
        <link rel="stylesheet" href="/css/menu.css">
        <script language="javascript" src="/menu.js" type="text/javascript"></script>
      <!--  <link rel="stylesheet" href="/css/menu-auswendig.css"> -->
    </head>
    <body>
      <header>
        {% block header %}{% endblock %}
      </header>
      <main>

        <!-- Menuber -->
        <div id="mySidebar" class="sidebar">

          <div>
            <div class="container">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </div>

          <h2 class="hauptmenuheader"> <a href="/">Home</a> </h2>
          <p> <a href="/stundenplan">Stundenplan</a> </p>

          <button class="accordion">Auswendig</button>
          <div class="panel">
            <p> <a href="/auswendig/dateiformate">Dateiformate</a> </p>
            <p> <a href="/auswendig/papierformate">Papierformate</a> </p>
          </div>

          <button class="accordion">LF1</button>
          <div class="panel">
            <p> <a href="/lf1/papierformate">Papierformate</a> </p>
            <p> <a href="/lf1/typografie">Typografie</a> </p>
          </div>

          <button class="accordion">WK</button>
          <div class="panel">
            <p> <a href="/wk/berufsausbildung">Berufsausbildung</a> </p>
          </div>

        </div>

      {% block main %}{% endblock %}
      </main>

      <footer>
        <p>Made by Nicole Bittner - nicolecbittner@gmail.com</p>
      </footer>

    </body>
</html>
