<!DOCTYPE html>
<html lang="de-DE">
    <head>
        <title>{% block title %}Homepage{% endblock %}</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/template.css">
        <link rel="stylesheet" href="/css/menu-auswendig.css">
    </head>
    <body>
      <header>
        {% block header %}{% endblock %}
      </header>
      <main>
        <h2>test</h2>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/auswendig">Auswendig</a>
                </li>
                <li></li>
            </ul>
        </nav>

        {% block main %}{% endblock %}
      </main>

      <footer>
        <p>Made by Nicole Bittner - nicolecbittner@gmail.com</p>
      </footer>

    </body>
</html>
