{% extends "layout.twig" %}

{% block main %}
    <div>

      <h3>Bit und Byte</h3>

      <p class="p-bb">1 Byte = 8 Bit</p>
      <img src="/img/Bit.png" alt="Bit" class="bit">
      <img src="/img/Byte.jpg" alt="Byte" class="byte">

    </div>
{% endblock %}
