/* Grundgerüst Design */
body {
  background-color: #2A7F4F;
  font-size: 16px;
  height: 100%
}

header {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 10px;
}

main {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 10px;
}

h1 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: calc(4.2rem/2.5) 0 calc(4.2rem/2.5) 0;
  margin-top: 0;
}

h2 {
  font-weight
  color: #7B3EB1;
  text-decoration: underline;
}

button {
    background-color: #E75A0D;
}

ul ::marker {
  color: #E75A0D;
}

ul li {
    list-style-type: square;
}

a {
  text-decoration: none;
  color: #000;
  height: 3em;
}

footer {
  padding: 4px 8px;
  color: black;
  text-align: center;
}
