/* FARBEN */
.darkgreen {color: #006400;}
.violet {color: #4B0082;}
.orang {color: #D2691E;}
.gold {color: #DAA520;}


/* Grundgerüst Design */
* {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

body {
  background-color: darkgreen;
  height: 100%;
}

footer {
  padding: 4px 8px;
  color: black;
  text-align: center;
}

h1 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: calc(4.2rem/2.5) 0 calc(4.2rem/2.5) 0;
  margin-top: 0;
}

h2 {
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
}

header {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 10px;
}

main {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 10px;
}

ul ::marker {
  color: tomato;
}

ul li {
    list-style-type: square;
}

/* standart Dinge */
tr {
  text-align: center;
  border: solid 1px gray;
}

tr .gerade{
  background-color: gray;
}

/* weitere einmalige Dinge*/

/* Stundenplan Desing */
#stundenplan-tage {
  background-color:
}

.time {
  white-space: nowrap;
}

#fyi {
  position: absolute;
  color: gray;
  padding: 5px;
}
