{% extends "layout.twig" %}

{% block title %}Inhaltsverzeichnis - Admin{% endblock %}

{% block main %}
    <main>
        <h1>Inhaltsverzeichnis</h1>
        <ul>
            {% for template in templates %}
                <li>
                    <a href="/admin/edit/{{ template.url }}">{{ template.name }}</a>
                    {% if template.deletable %}
                        <a href="/admin/delete/{{ template.url }}">[X]</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <a href="/admin/create">Neues Template anlegen</a>
    </main>
{% endblock %}
