{% extends "layout.twig" %}

{% block title %}Unbekanntes Template - Admin{% endblock %}

{% block main %}
    <main>
        <h1>Unbekanntes Template</h1>
        <p>Das angeforderte Template konnte nicht gefunden werden.</p>
    </main>
{% endblock %}
