{% extends "layout.twig" %}

{% block title %}Unbekannte Seite{% endblock %}

{% block main %}
    <main>
        <h1>Unbekannte Seite</h1>
        <p>Die angeforderte Seite konnte nicht gefunden werden.</p>
    </main>
{% endblock %}
