caption {
  border: 1px solid black;
}

table {
  border: 1px solid black;
}

caption {
  font-size: 20px;
}

.nav-horizontal {
  background-color: white;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.menu-list {
  display: inline-table;
  margin: 0 auto;
  max-width: 100%;
  padding: 0px;
}

.menu-li {
  display: table-cell;
  display: inline;
}

.bl {
  padding-bottom: 8px;
  font: 16px;
}

&:hover {
  border-bottom: 2px solid black;
}


a {
  line-height: 1.25;
  background: #ff8000;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  padding: 4px 8px;
  margin-right: 16px;
}

  &:focus,
  &:active {
    &:after {
      width: 300px;
      height: 300px;
    }
  }
}

.button {
  margin-right: 16px;
}

.middle {
  text-align: middle;
}

.RAID0 {
  width: auto;
  height: 25%;
  display: -webkit-box;
  float: left;
}

.RAID1 {
  width: auto;
  height: 25%;
  display: -webkit-inline-box;
}

.RAID5 {
  width: auto;
  height: 164;
  display: -webkit-inline-box;
}

.RAID6 {
  width: auto;
  height: 25%;
  display: -webkit-inline-box;
}

.RAID0-img {
  width: auto;
  height: 280px;
}

.RAID1-img {
  width: auto;
  height: 280px;
}

.RAID5-img {
  width: auto;
  height: 220px;
}


.RAID6-img {
  width: auto;
  height: 220px;
}

.p-bb {
  text-align: center;
}

.byte {
  width: 50%;
  height: auto;
  float: left;
}

.bit{
  width: 50%;
  height: auto;

}

.footer-bottom {
  border: 1px solid black;
}
