{% extends "layout.twig" %}

{% block title %}Auswendig{% endblock %}

{% block main %}
    <main>

      <nav class="nav-horizontal">
          <ul class="menu-list">
            <li class="menu-li"> <a href="/auswendig-begriffe">Begriffe</a> </li>
            <li class="menu-li"> <a href="/auswendig/papierformate.twig">Papierformate</a> </li>
            <li class="mane-li"> <a href="/auswendig/dateiformate.twig">Dateiformate</a> </li>
          </ul>
      </nav>

      <p> Hier erhälst du zu den jeweiligen Themen, passende Tabellen oder Listen zum Auswendig lernen.<br>
          Bsp. IP-Adressen Klassen, sowohl Öffenliche (Pulic) als Private (Local/Private) oder OSI-Modell</p>
    </main>
{% endblock %}
