{% extends "layout.twig" %}

{% block title %}Auswendig{% endblock %}

{% block main %}
    <main>

      <nav class="nav-horizontal">
          <ul class="menu-list">
            <li class="menu-li"> <a href="/auswendig-begriffe">Begriffe</a> </li>
            <li class="menu-li"> <a href="/auswendig/papierformate">Papierformate</a> </li>
            <li class="mane-li"> <a href="/auswendig/dateiformate">Dateiformate</a> </li>
          </ul>
      </nav>
      
    </main>
{% endblock %}
