{% extends "layout.twig" %}

{% block title %}Auswendig{% endblock %}

{% block main %}
    <div>
      <nav class="nav-horizontal">
          <ul class="menu-list">
            <li class="menu-li"> <a href="/auswendig-begriffe">Begriffe</a> </li>
            <li class="menu-li"> <a href="/auswendig-bit-byte">Bit und Byte</a> </li>
            <li class="menu-li"> <a href="/auswendig-diagramme">Diagramme</a> </li>
            <li class="menu-li"> <a href="/auswendig-grundlagen">Grundlagen</a> </li>
            <li class="menu-li"> <a href="/auswendig-ip-adresse-klassen">IP-Adresse Klassen</a> </li>
            <li class="menu-li"> <a href="/auswendig-osi-modell">OSI Modell</a> </li>
            <li class="menu-li"> <a href="/auswendig-projektmanagement">Projektmanagement</a> </li>
            <li class="menu-li"> <a href="/auswendig-RAID">RAID-Level</a> </li>
            <li class="menu-li"> <a href="/auswendig-SMART">SMART</a> </li>
            <li class="menu-li"> <a href="/auswendig-SWORT">SWORT</a> </li>
          </ul>
      </nav>

      <p> Hier erhälst du zu den jeweiligen Themen, passende Tabellen oder Listen zum Auswendig lernen.<br>
          Bsp. IP-Adressen Klassen, sowohl Öffenliche (Pulic) als Private (Local/Private) oder OSI-Modell</p>
    </div>
{% endblock %}
