{% extends "layout.twig" %}

{% block title %}Berufsausbildung{% endblock %}

{% block main %}
  <main>

    <h2>Berufsausbildung</h2>

    <div class="menuLeisteWk">
    </div>
    <ol>
      <li>Grundlagen</li>
      <ol>
        <li>BBiG & AO</li>
        <li>Duales System</li>
      </ol>
      <li>Ausbildungsvertrag</li>
      <ol>
        <li>Form & Ablschuss</li>
        <li>Inhalt</li>
        <li>Rechten & Pflichten</li>
      </ol>
      <li>Beendigung</li>
      <ol>
        <li>Prüfung</li>
        <li>Kündigung</li>
      </ol>
    </ol>
  </div>



  </main>
{% endblock %}
