{% extends "layout.twig" %}

{% block title %}Admin Page{% endblock %}

{% block main %}
    <main>
      <button type="button" name="edit"></button>
      <button type="button" name="neu"></button>
      <button type="button" name="mark"></button>
      <button type="button" name="test"></button>
      <button type="button" name="editTametable"></button>
    </main>
{% endblock %}
