{% extends "layout.twig" %}

{% block title %}Unbekannte Ressource{% endblock %}

{% block main %}
    <main>
      <button type="edit" name="edit"></button>
      <button type="button" name="button"></button>
      <button type="button" name="button"></button>
    </main>
{% endblock %}
