{% extends "layout.twig" %}

{% block title %}Admin Page{% endblock %}

{% block main %}
    <main>
      <button type="button" name="edit"></button>
      <button type="button" name="neu"></button>
      <button type="button" name="mark"></button>
      <button type="button" name="test"></button>
      <button type="button" name="editTametable"></button>
    </main>

    <div class="">
      <div id="toolbar">
        <button data-action="bold">F</button>
        <button data-action="cursive">K</button>
        <button data-action="underline">U</button>
        <button data-action="quote">Zitat</button>
        <button data-action="view">Ansicht</button>
      </div>

      <form class="" action="index.html" method="post">
        <input type="text">
      </form>


    </div>
{% endblock %}
