{% extends "layout.twig" %}

{% block title %}Papierformate{% endblock %}

{% block main %}
    <main>

      <h1>Papierformate</h1>

        <table>
          <tr>
            <td>A7</td> <td>74 x 105</td>
          </tr>
          <tr>
            <td>A6</td> <td>105 x 148</td>
          </tr>
          <tr>
            <td>A5</td> <td>148 x 210</td>
          </tr>
          <tr>
            <td>A4</td> <td>210 x 297</td>
          </tr>
          <tr>
            <td>A3</td> <td>297 x x420</td>
          </tr>
          <tr>
            <td>A2</td> <td>420 x 594</td>
          </tr>
          <tr>
            <td>A1</td> <td>594 x 841</td>
          </tr>
          <tr>
            <td>A0</td> <td>841 y 1189</td>
          </tr>
        </table>

    </main>
{% endblock %}
