{% extends "layout.twig" %}

{% block title %}Tags{% endblock %}

{% block main %}
    <main>

      <h2>Tags</h2>
      <p>Hier kann man die Tags segen von HTML und CSS. Weitere sprachen wie JavaScript, MySQL und PHP werden in den Nächsten Jahren folgen.</p>

      <img src="../../public/img/htmlcode.PNG" alt="HTML Code">
      <table>
        <tr>
          <th>HTML</th>
        </tr>
        <tr>
          <td>Sagt das es eine HTML Datei ist</td>
        </tr>
        <tr>
          <td>header sagt das es der header ist der Datei. Darin befinden sich informationen zur formatierung vom wetieren Code. Bsp: formateirung vom HMTL vode durch einer CSS Datei.</td>
        </tr>
        <tr>
          <td>Das ist der Body Part der Webseite</td>
        </tr>
        <tr>
          <td>"h1" und "p" sind Tags von HTML</td>
        </tr>
        <tr>
          <td>"h1" sagt das es die erste überschrift ist</td>
        </tr>
        <tr>
          <td>"p" sagt das es ein "Paragraph" ist</td>
        </tr>
      </table>

    </main>
{% endblock %}
