{% extends "layout.twig" %}

{% block title %}Dateiformate{% endblock %}

{% block main %}
    <div>

      <h1>Dateiformate</h1>

      <h2>Grafikformate - Print</h2>
      <table>

      </table>

      <h2>Grafikformate - non Print</h2>
      <table>

      </table>

      <h2>Grafikformate - Print & non Print</h2>
      <table>

      </table>

      <h2>Video</h2>
      <table>

      </table>

      <h2>Audio</h2>
      <table>

      </table>

      <h2>Fonts</h2>
      <table>

      </table>

    </div>
{% endblock %}
