{% extends "layout.twig" %}

{% block title %}Berufsausbildung{% endblock %}

{% block main %}
  <main>

    <h2>Berufsausbildung</h2>

    <div>
      <ol>
        <li>Grundlagen</li>
        <ol>
          <li>BBiG & AO</li>
          <li>Duales System</li>
        </ol>
        <li>Ausbildungsvertrag</li>
        <ol>
          <li>Form & Ablschuss</li>
          <li>Inhalt</li>
          <li>Rechten & Pflichten</li>
        </ol>
        <li>Beendigung</li>
        <ol>
          <li>Prüfung</li>
          <li>Kündigung</li>
        </ol>
      </ol>
    </div>


    <div>
      <ol>
        <li>Grundlagen</li>
        <ol>

          <li>BBiG => Berufsausbildung</li>
          <ul>
            <li>alle anerkannte Ausbildungsberufe (350St.)</li>
            <li>Lehre, Fortbildung und weiterbildung</li>
            <li>Inhalt:</li>
            <ul>
              <li>Vertrag (Probezeit)</li>
              <li>Rechten und Pflichten von beiden Seiten</li>
              <li>Beendigung</li>
              <li>AO-Inhalt</li>
            </ul>
          </ul>

          <li>AO => AUsbidlugnsordnung</li>
          <ul>
            <li>erlassen vom Zuständigen Bildungsminsiterium</li>
          </ul>
          <p>5 Inhalte:</p>
          <ol>
            <li>Berufsausbildung</li>
            <li>Gesetzliche Bildungsdauer</li>
            <ul>
              <li>Gesetzlich</li>
              <ol>
                <li>3 Jahre - normalerweise</li>
                <li>2 Jahre - Lager, etc.</li>
                <li>3,5 Jahre - Metalelektro</li>
              </ol>
            </ul>
            <li>Berufsausbild</li>
            <ul>
              <li>Fähigkeiten und Fertigkeiten</li>
              <li>wissen der Erwerben werden soll</li>
              <li>Handwenlicher geschick</li>
            </ul>
            <li>Ausbildungsramen</li>
            <ul>
              <li>Zeitliche und Sachliche Gleiderung der Ausbildung</li>
            </ul>
            <li>Prüfungsanforderungen</li>
            <ul>
              <li>Ausgefüllter Berichtsheft</li>
              <li>Prüfung auftauchen</li>
            </ul>
          </ol>

          <li>Duales System</li>

          <table>
            
          </table>

        </ol>
      </ol>
    </div>

  </main>
{% endblock %}
